.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.links {
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  color: #000111;
  background: #fff111;
  font-weight: bold;
}

.links:hover {
  background: #fff999;
  transition: 0.5s
}
